<html>
    <%- include('../components/style.ejs')  %> 

    <body>
        <%- include('../components/navbar.ejs')  %> 
        <div class="container">
            <h1 class="fas fa-table tableTitle"> <%= header  %></h1>  <br>

            <% var editurl = '/data-nilai/edit' %> 
            <form action= <%= actionurl %> method="POST">
                
                <% if (actionurl == editurl) { %>
                    <input type="number" name="id" hidden value="<%= id %>">
                <% } %>

                <div class="form-group">
                    <label for="">Nama Siswa</label>
                
                    <select name="nama_lengkap" id="" class="form-control">
                        <% if (actionurl == editurl) { %>
                            <option value="<%= id_siswa %>">Default</option>
                        <% }else{ %>
                        <option>--Pilih--</option>
                        <% } %> 
                        <% if (dataSiswa.length > 0 ) { %>
                            <% dataSiswa.forEach(el => { %>
                             <option value="<%= el.id %>"><%= el.nama_lengkap %> </option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    
                    <label for="">Mata Pelajaran</label>
                    <select name="mata_pelajaran" id="" class="form-control">
                        <% if (actionurl == editurl) { %>
                            <option value="<%= id_matapelajaran %>">Default</option>
                        <% }else{ %>
                        <option>--Pilih--</option>
                        <% } %> 
                        <% if (dataPelajaran.length > 0 ) { %>
                            <% dataPelajaran.forEach(el => { %>
                             <option value="<%= el.id %>"><%= el.mata_pelajaran %> </option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Nilai UH</label>
                    <input name="nilai_uh" type="number" required class="form-control" <% if (actionurl == editurl) { %>
                            value= <%= nilai_uh %> 
                    <% } %>
                    ></div>

                <div class="form-group">
                    <label for="">Nilai UTS</label>
                    <input name="nilai_uts" type="number" required class="form-control" <% if (actionurl == editurl) { %>
                            value= <%= nilai_uts %> 
                    <% } %>
                    ></div>

                <div class="form-group">
                    <label for="">Nilai UAS</label>
                    <input name="nilai_uas" type="number" required class="form-control" <% if (actionurl == editurl) { %>
                            value = <%= nilai_uas %>
                    <% } %>
                    ></div>

                <input type="submit" value="Save" class="btn btn-success">
                <a href="/data-nilai" class="btn btn-info">Cancel</a>
            </form>
            
        </div>

        <%- include('../components/footer.ejs') %> 
    </body>
</html>