<html lang="en">
<%- include('./components/style.ejs') %> 
<body>
    <%- include('./components/navbar.ejs'), {email:email, nohp:nohp} %>          
    
     <div class="container">
        <h3>Data Siswa</h3>
        <a href="/add">Tambah</a>
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>NIS</th>
                    <th>Nama Lengkap</th>
                    <th>Kelas</th>
                    <th>Jurusan</th>
                    <th>Tempat / Tanggal lahir</th>
                    <th>Alamat</th>
                    <th>Email</th>
                    <th>No. Telp</th>
                    <th>Action</th>
                </tr>
            </thead>
            
            
                <% if (data.length > 0) { %>
                    <% var i = 1; %> 
                    <% data.forEach(el => { %>
                            <tr>
                                <td><%=i; %></td>
                                <td><%=el.nis   %> </td>
                                <td><%=el.nama_lengkap   %> </td>
                                <td><%=el.kelas   %> </td>
                                <td><%=el.jurusan   %> </td>
                                <td><%=el.tempat_lahir %> / <%=el.tanggal_lahir %> </td>
                                <!-- <td><</td> -->
                                <td><%=el.alamat   %> </td>
                                <td><%=el.email  %> </td>
                                <td><%=el.no_telp  %> </td>
                                <td>
                                    <a href="/edit/<%=el.id  %> " class="btn btn-success px-4 mb-2">Edit</a>
                                    <a href="/delete/<%=el.id  %> " class="btn btn-danger px-3 mt-1">Delete</a>
                                </td>
                            </tr>
                        <% i++}); %>
                <% } else { %>
                        <tr>
                            <td>No data Found</td>
                        </tr>
                    <% } %> 

        </table>
    </div>
    <%- include('./components/footer.ejs'); %>  
</body>
</html>