<html>
    <%- include('./components/style.ejs') %>
    <body>
        <h3><%= text %></h3>
        <form action="/edit" method="POST">

            <% if (data.length > 0) { %>
                <% data.forEach(element => { %>
                    
           <input type="number" name="id" value=<%= element.id %> > <br>
           <label>NISN</label>
           <input type="number" name="nis" value=<%= element.nis %>  required> <br>

           <label>Nama Lengkap</label>
           <input type="text" name="nama" maxlength="50" value=<%= element.nama_lengkap  %>  required> <br>

           <label>Kelas</label>
            <select name="kelas">
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select> <br>
           
           <label>Jurusan</label><br>
           <input type="radio" name="jurusan" value="fiktif" required>Fiktif <br>
           
           <label>Tempat Lahir</label>
           <input type="text" name="tempatl" maxlength="50" value=<%= element.tempat_lahir %>  required > <br>
           
           <label>Tanggal Lahir</label>
           <input type="date" name="tgll" value=<%= element.tanggal_lahir %>  required> <br>
           
           <label>Alamat</label>
           <textarea name="alamat"  cols="30" rows="10"  required><%= element.alamat %></textarea> <br>
           
           <label>Email</label>
           <input type="email" name="email" maxlength="50" value=<%= element.email %>  required> <br>
           
           <label>No. Telp</label>
           <input type="number" name="notelp" maxlength="15" value=<%= element.no_telp %>  required> <br>
            
           <input type="submit" value="Add">
           <a href="/dashboard">Cancel</a>

                <% }); %> 
            <% } %>
        </form>

        <%- include('./components/footer.ejs'); %> 
    </body> 
</html>