<!DOCTYPE html>
<html>
  <%- include('./components/style.ejs')  %> 
  <body>
    <form action="/" method="POST">
      <h1><%= h1 %> </h1> <br>
      <%= username %> <br> 
      <input type="text" name="username"><br>
      <%= password %> <br> 
      <input type="password" name="password"><br>
      <input type="submit" value="Login">
    </form>
    <%- include('./components/footer.ejs') %> 
  </body>
</html>
