<html>
    <%- include('../components/style.ejs')  %>
    
    <body>
        <%- include('../components/navbar.ejs')  %> 
            <div class="container table-responsive">
                <h1 class="fas fa-table tableTitle"> Data Guru</h1> <br>

                <a href="/data-guru/add" class="btn btn-info fas fa-plus-square my-3 px-5"></a>

                <table class="table table-bordered text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>No.</th>
                            <th>NIK</th>
                            <th>Nama</th>
                            <th>Pendidikan terakhir</th>
                            <th>Jurusan</th>
                            <th>Asal Sekolah</th>
                            <th>Alamat</th>
                            <th>Email</th>
                            <th>No. Telp</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if (data.length > 0) { %>
                            <% var i = 1; %>
                            
                            <% data.forEach(el => { %>
                             <tr>
                                 <td><%=i  %> </td>
                                 <td><%=el.nik  %> </td>
                                 <td><%=el.nama_guru  %> </td>
                                 <td><%=el.pendidikan_terakhir.toUpperCase() %> </td>
                                 <td><%=el.jurusan  %> </td>
                                 <td><%=el.asal_sekolah  %> </td>
                                 <td><%=el.alamat  %> </td>
                                 <td><%=el.email  %> </td>
                                 <td><%=el.no_telp  %> </td>
                                 <td>
                                    <a href="/data-guru/edit/<%=el.id  %> " class="btn btn-success px-4 my-3">Edit</a>
                                    <a href="/data-guru/delete/<%=el.id  %> " class="btn btn-danger px-3 ">Delete</a>
                                </td>
                             </tr>

                            <% i++}); %>



                        <% } else { %>
                            <tr>
                                <td>No data Found</td>
                            </tr>
                            <% } %> 
                        
                    </tbody>
                </table>
            </div>
        <%- include('../components/footer.ejs')  %>
    </body>
</html>