<html>
    <%- include('../components/style.ejs')  %>
    <body>
        <%- include('../components/navbar.ejs')  %>

            <div class="container">
                <h1 class="fas fa-table tableTitle"><%= text %> </h1>
                <form action="/data-guru/edit" method="POST">

                    <% if (data.length > 0) { %>
                        <% data.forEach(el => { %>
                         
                    <input type="number" value="<%= el.id %>" class="form-control" name="id" hidden>
                    
                    <div class="form-group">
                        <label for="">NIK</label>
                        <input name="nik" type="text" class="form-control" value="<%= el.nik %> ">
                    </div>

                    <div class="form-group">
                        <label for="">Nama Guru</label>
                        <input name="nama_guru" type="text" class="form-control" value="<%= el.nama_guru %> ">
                    </div>

                    <div class="form-group">
                        <label for="">Pendidikan Terakhir</label>
                        <input name="pendidikan_terakhir" type="text" class="form-control" value="<%= el.pendidikan_terakhir %> ">
                    </div>

                    <div class="form-group">
                        <label for="">Jurusan</label>
                        <input name="jurusan" type="text" class="form-control" value="<%= el.jurusan %> ">
                    </div>

                    <div class="form-group">
                        <label for="">Asal Sekolah</label>
                        <input name="asal_sekolah" type="text" class="form-control" value="<%= el.asal_sekolah %> ">
                    </div>

                    <div class="form-group">
                        <label for="">Alamat</label>
                        <textarea name="alamat" class="form-control"><%= el.alamat %> </textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="">Email</label>
                        <input name="email" type="email" class="form-control" value="<%= el.email %> ">
                    </div>

                    <div class="form-group">
                        <label for="">No. Telp</label>
                        <input name="notelp" type="text" class="form-control" value="<%= el.no_telp %> ">
                    </div>

                    <input type="submit" value="Save">
                    <a href="/data-guru">Cancel</a>

                        <% }) %> 
                    <% } %>
                </form>

            </div>

        <%- include('../components/footer.ejs')  %> 
    </body>
</html>