<html>
    <%- include('../components/style.ejs')  %>
    <body>
        <%- include('../components/navbar.ejs')  %>

            <div class="container">
                <h1 class="fas fa-table tableTitle"><%= text %> </h1>
                <% var editurl = '/data-guru/edit' %>
                <form action="<%= actionurl  %>" method="POST">
                    
                   <% if (actionurl == editurl) { %>
                    <input type="number" value="<%= id %>" class="form-control" name="id" hidden>
                   <% } %>
                    
                    
                    <div class="form-group">
                        <label for="">NIK</label>
                        <input name="nik" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= nik %>"
                        <% } %> 
                        ></div>

                    <div class="form-group">
                        <label for="">Nama Guru</label>
                        <input name="nama_guru" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= nama_guru %>"
                        <% } %> 
                        ></div>

                    <div class="form-group">
                        <label for="">Pendidikan Terakhir</label>
                        <input name="pendidikan_terakhir" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= pendidikan_terakhir %>"
                        <% } %> 
                        ></div>

                    <div class="form-group">
                        <label for="">Jurusan</label>
                        <input name="jurusan" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= jurusan %>"
                        <% } %>
                    ></div>

                    <div class="form-group">
                        <label for="">Asal Sekolah</label>
                        <input name="asal_sekolah" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= asal_sekolah %>"
                        <% } %> 
                    ></div>

                    <div class="form-group">
                        <label for="">Alamat</label>
                        <input name="alamat" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= alamat %>"
                        <% } %> 
                    ></div>
                    
                    <div class="form-group">
                        <label for="">Email</label>
                        <input name="email" type="email" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= email %>"
                        <% } %> 
                        ></div>

                    <div class="form-group">
                        <label for="">No. Telp</label>
                        <input name="notelp" type="text" class="form-control" <% if (actionurl == editurl) { %>
                            value="<%= no_telp %>"
                        <% } %> 
                        ></div>

                    <input type="submit" value="Save" class="btn btn-success">
                    <a href="/data-guru" class="btn btn-info">Cancel</a>

                </form>

            </div>

        <%- include('../components/footer.ejs')  %> 
    </body>
</html>